/* You can add global styles to this file, and also import other style files */
.no-padding {
    padding: 0;
}
#loading-image {
    padding-left: 40%;
    padding-top: 300px;
}
.base-padding {
    padding-left: 12%;
    padding-right: 12%;
}

.bluePrimary {
    background-color: #26a69a;
}

.transparent-style{

    background-color: #ffffff;
    opacity: .4;
}


/* MODAL STYLES
-------------------------------*/
modal {
    /* modals are hidden by default */
    display: none;

        /* enables scrolling for tall modals */
        overflow: auto;
    }
.custom-modal-background {
        /* modal background fixed across whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        /* semi-transparent black  */
        background-color: #000;
        opacity: 0.75;
         
        /* z-index must be below .modal and above everything else  */
        z-index: 900;
    }

body.custom-modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}

    .custom-modal {
        /* modal container fixed across whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        /* z-index must be higher than .modal-background */
        z-index: 1000;
    }

.custom-modal-body {
    padding: 15px 1%;
    background: #F6F8FA;
    margin: 5% 12%;
    /*border: 5px solid #00796B;*/
}

.nav-color {
    background-color: #00796B;
}

.nav-color2 {
    background-color: #00b39e;
}

.force-link {
    cursor: pointer;
}

.page-active {
    color: white;
    background-color: #00796B;
}

.button-yellow {
    background-color: #FFA000;
}

.button-refresh {
    margin-top: 10px;
}