<div class="container">
    <div>
        <h5>{{"HomePageContent" | translate}}</h5>
        <div *ngIf="this.content" class="row">
            <a (click)="removeContent()" class="btn red force-link right">{{'RemoveContent' | translate}}</a>
        </div>
        <form>
            <div class="form-group">
                <froala [froalaOptions]="froalaOptions" [froalaData]="content" (model)="onFroalaModelChanged($event)" (editorInitialized)="onEditorInitialized()">
                </froala>
            </div>
            
            <button (click)="saveContent()" style="margin-top: 25px;" type="submit" class="btn btn-success">{{'Submit' | translate}}</button>
        </form>
    </div>
</div>